# Binaries
ccwc
*.exe
*.exe?
*.dll
*.so
*.dylib

# Test binaries & performance profiles
*.test
*.out
*.prof

# Temporary test data (uncomment if test.txt is garbage)
# test.txt

# OS & Editor files
.DS_Store
.idea/
.vscode/